## Configura칞칚o do Docker Compose

services:
  # 游 1. Banco de Dados PostgreSQL
  postgres:
    image: postgres:14-alpine
    container_name: postgres-db
    restart: always
    environment:
      POSTGRES_USER: pokemon_master
      POSTGRES_PASSWORD: g47Ne9C`G%om^g:#nN9~\neYTf0V9y-;pK춲B1.tH#*<\FH`<>L
      POSTGRES_DB: pokemon_tcg
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data # Persist칡ncia de dados

  # 游댏 Keycloak (Servidor de Identidade OIDC/OAuth2)
  keycloak:
    image: quay.io/keycloak/keycloak:23.0.7 # Vers칚o est치vel e robusta
    container_name: keycloak-auth
    # O comando 'start-dev' facilita o desenvolvimento local
    command: start-dev
    environment:
      KEYCLOAK_ADMIN: pokemon_master
      KEYCLOAK_ADMIN_PASSWORD: 064[ufsiuh"c5M!]Ph.wH&V4yG[s!i=`Xk767*[|e춲?oiU(qTD
    ports:
      - "8080:8080" # Porta padr칚o do Keycloak
    # N칚o precisa de volume no desenvolvimento inicial, mas seria bom em ambientes superiores.

  # 游닎 1. Zookeeper (Gerenciador de Estados do Kafka)
  zookeeper:
    image: confluentinc/cp-zookeeper:7.4.0 # Imagem est치vel
    container_name: zookeeper-server
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000

  # 游닎 2. Apache Kafka (Broker de Mensagens)
  kafka:
    image: confluentinc/cp-kafka:7.4.0 # Imagem est치vel
    container_name: kafka-broker
    ports:
      - "9092:9092" # Porta de acesso da sua m치quina (Host)
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181 # Conex칚o interna com o Zookeeper

      # 丘멆잺 Configura칞칚o Crucial: Acesso Interno vs. Externo
      # PLAINTEXT://kafka:29092  -> Comunica칞칚o interna entre containers
      # PLAINTEXT_HOST://localhost:9092 -> Comunica칞칚o do seu Spring Boot (Host)
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:29092,PLAINTEXT_HOST://localhost:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    depends_on:
      - zookeeper # Garante que o Zookeeper suba primeiro!

# 游 Defini칞칚o de Volumes
volumes:
  postgres_data:
    driver: local